# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
bin

# Chroot
chroot-dir

# Build
autom4te.cache
build
config
configure
m4
aclocal.m4
*.in